// Hier worden de variabelen voor de kleuren gedefinieerd

:root {
  --purple100: #5a189a;
  --purple80: #7b2cbf;
  --purple60: #9d4edd;
  --purple40: #c77dff;
  --purple20: #e0aaff;
  --wj-green: #c7fdbb;
}
